```
# Compiled and build artifacts
*.o
*.obj
*.out
debug_parser2_test
debug_parser3_test.cpp
debug_parser4_test
debug_parser4_test.cpp
debug_parser5_test
debug_parser5_test.cpp
debug_parser6_test
debug_parser6_test.cpp
debug_parser_test
debug_parser_test.cpp
debug_test
debug_test.cpp
```